.newsletter
  background-color: white
  width: 930px
  height: 640px
  border-radius: 40px
  display: flex
  margin: 219px auto 0 auto

.container
  display: flex

.text
  margin: 91px 65px
  width: 375px

.image
  width: 400px
  height: 640px
  margin: auto

.title
  margin: 0
  font-size: 56px
  letter-spacing: -2.1px

.paragraph
  margin-top: 22px
  line-height: 23px
  width: 400px

.list
  display: flex
  flex-direction: column
  margin-top: 19px

.item
  margin: 6.5px 0
  display: flex

.span
  width: 100%
  margin: 2px 0 0 16px

.label
  display: block
  font-size: 12px

.form
  margin-top: 38px

.input
  margin: 10px 0 24px 0
  width: 375px
  height: 56px
  border-radius: 5px
  border: 1px solid grey
  display: block
  box-sizing: border-box
  padding: 0 24px 

.button
  width: 100%
  height: 56px
  border-radius: 5px
  border: none
  background-color: black
  color: white
  padding-top: 5px
  letter-spacing: 0.2px